[submodule "dynamic_graph_bridge"]
	path = dynamic_graph_bridge
	url = git://github.com/stack-of-tasks/dynamic_graph_bridge.git
[submodule "sot_pr2"]
	path = sot_pr2
	url = git://github.com/stack-of-tasks/sot_pr2.git
[submodule "jrl_dynamics_urdf"]
	path = jrl_dynamics_urdf
	url = git://github.com/laas/jrl_dynamics_urdf.git
[submodule "dynamic_graph_actionlib"]
	path = dynamic_graph_actionlib
	url = git://github.com/stack-of-tasks/dynamic_graph_actionlib.git
